<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.medsci.pv.report.mapper.AttachmentModelsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.medsci.pv.report.entity.AttachmentModels">
        <id column="attachment_id" property="attachmentId" />
        <result column="attachment_model_id" property="attachmentModelId" />
        <result column="attachment_model_type" property="attachmentModelType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attachment_id AS attachmentId, attachment_model_id AS attachmentModelId, attachment_model_type AS attachmentModelType
    </sql>

</mapper>
