<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.medsci.pv.report.mapper.AttachmentReportsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.medsci.pv.report.entity.AttachmentReports">
        <id column="attachment_id" property="attachmentId" />
        <result column="report_id" property="reportId" />
        <result column="type" property="type" />
        <result column="is_report" property="isReport" />
        <result column="desc" property="desc" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attachment_id AS attachmentId, report_id AS reportId, type, is_report AS isReport, desc, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
