<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.medsci.pv.report.mapper.MenusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.medsci.pv.report.entity.Menus">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="route" property="route" />
        <result column="icon" property="icon" />
        <result column="permission" property="permission" />
        <result column="description" property="description" />
        <result column="sort" property="sort" />
        <result column="route_prefix" property="routePrefix" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="position" property="position" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, route, icon, permission, description, sort, route_prefix AS routePrefix, created_at AS createdAt, updated_at AS updatedAt, position
    </sql>

</mapper>
