<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.medsci.pv.report.mapper.SubdictionariesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.medsci.pv.report.entity.Subdictionaries">
        <id column="id" property="id" />
        <result column="sub_chinese" property="subChinese" />
        <result column="sub_english" property="subEnglish" />
        <result column="dict_id" property="dictId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="e_name" property="eName" />
        <result column="e_formate" property="eFormate" />
        <result column="is_desc" property="isDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sub_chinese AS subChinese, sub_english AS subEnglish, dict_id AS dictId, created_at AS createdAt, updated_at AS updatedAt, e_name AS eName, e_formate AS eFormate, is_desc AS isDesc
    </sql>

</mapper>
